 <!-- --- product cart added  section --  -->
 <% if(session.cart){ %> 
  <section class="cart_sec mt-3">
   
      <div class="card mt-5">
        <div class="card-header header-bg text-light">
           <h4> Order Summary</h4>
        </div>
        <div class="card-body">
           <% for(let pizza of Object.values(session.cart.items)){ %>
            <div class="product-box">
                <div class="prd-photo">
                    <img src="pd-img/<%= pizza.item.image %> " alt="product" width="70px"  height="auto"> 
                    <div class="">
                        <div><%= pizza.item.name %></div>
                        <smail><%= pizza.item.size %></smail>
                    </div>
                </div>
                <div class="prd-quantity text-center">
                 <span><%= pizza.qty %>PC</span>
                </div>
                <div class="prd-price text-center">
                 <span> ₹<%= pizza.item.price * pizza.qty %></span>
                </div>

            </div>
            <% } %>
            <div class="total float-end p-2 fw-bold">
                Total Amount : ₹<%=session.cart.totalPrice%>
            </div>
        </div>
        <div class="card-footer footer-bg">
            <form action="">
                <div class="text-light">
                  <span>  Enter Order Delivery information:</span>
                </div>
                <div class="row gy-3">
                    <div class="col-12 col-md-6">
                        <input type="tel" name="phone" id="phone" placeholder="Phone number" class="form-control" required>
                    </div>
                    <div class="col-12 col-md-6">
                       <input type="text" name="address" id="address" placeholder="Address" class="form-control" required>
                    </div>
                    <div class="col-12 text-center">
                        <button type="submit">Check out</button>
                    </div>
                </div>
            </form>
        </div>
      </div>

  </section>
 <% }else{ %> 
  <section class="no_cart text-center mt-5">
    <h5>No have any Product in Cart</h5>
  </section>
  <% }%> 