 <section class=" hero_section">
        <div class=" container  d-flex justify-content-around h-100 align-items-center  hero">

            <div class="hero-info" >
                <h6>Are you feeling hungry, than</h6>
                <h1>Don't Wait ...</h1>
                <h6>here have lots of delicious Pizza</h6>
                <a href="#product" class=" order-btn">order now</a>
            </div>

            <div class="hero-img ">
                <img src="pd-img/logo/hryp.png" alt="">
            </div>
        </div>
    </section>

    <section class="container" id="product">
        <h4>All Pizza List :</h4> 
        <div class="prd-list">
            <div class="row gy-3">
                <% pizzas.forEach(function(pizza){ %>

                    <div class="col-12 col-md-4 col-lg-3">
                        <div class="card ">
                            <div class="prd-photo">
                                <img src="/pd-img/<%= pizza.image %> "  class="img-fluid" alt="prd">
                            </div>
                            <div class="prd-name">
                                <h5><%= pizza.name %>  </h5>
                            </div>
                            <div class="size"><%= pizza.size %> </div>
                            <div class="prd-order">
                                <span class="price">₹<%= pizza.price %> </span>
                                <button data-pizza="<%= JSON.stringify(pizza) %>" class="text-center add-to-cart">
                                    <span>+</span>
                                    <span>Add</span>
                                </button>
                            </div>
                        </div>
                    </div>

                <% }) %>

               
                
               
                
                
            </div>
        </div>
    </section>
